<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id = "com.fredrickabayie.psc"
versioncode = "11"
version = "1.1.0">
    <name>Product Scan</name>
    <description>
        An application to scan products barcodes
    </description>
    <author href="http://www.ashesi.edu.gh" email="fredrick.abayie@ashesi.edu.gh">
        Fredrick Abayie
    </author>
    <gap:plugin name="net.roughshod.plugins.barcodescanner" version="3.0.0" />
    <icon src="icon.png" />
    <gap:splash src="icon.png" />
</widget>
